<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <h1>BURGERZON !</h1>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
            <h2>Burgers Available: </h2>
            {{#each burgers}} {{#unless devoured}}
            <div class="row">
                <div class="col-md-8 burgerListing">
                    {{this.id}}. {{this.burger_name}}
                </div>
                <div class="col-md-4">
                    <button data-id="{{this.id}}" class="btn btn-danger devour">Devour it!</button>
                </div>
            </div>
            {{/unless}} {{/each}}
        </div>
        <div class="col-md-5">
            <h2>Out of stock burgers: </h2>
            {{#each burgers}} {{#if devoured}}
            <div class="row">
                <div class="col-md-8">
                    {{this.id}}. {{this.burger_name}}
                </div>
            </div>
            {{/if}} {{/each}}
        </div>
        <div class="col-md-1">
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <form class="newBurger">
                <div class="form-group">
                    <label for="textEntry">Add a burger option</label>
                    <textarea class="form-control" id="newBurgerData"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>